$navHoverColor: lightblue;
$headerFontFamily: 'Josefin Sans', sans-serif;
$navFontFamily: 'Baloo Bhai', cursive;
$modifyFontFamily: 'Suravaram', serif;
$standardFontFamily: 'Mukta Vaani', sans-serif;
$userLinkFontFamily: 'Stylish', sans-serif;
$headerColor: #7c777d;

@import 'partials/_large';
@import 'partials/_medium';
@import 'partials/_small';

body {
  background-image: url(/../assets/light_wool.png);
  background-size: cover;
}

a {
  text-decoration: none;
}

#navBar {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.navLink {
  font-size: 3vw;
  font-family: $navFontFamily;
}

.nav:hover {
  background-color: $navHoverColor;
  cursor: pointer;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: lightgray dotted 1px;
}

#headerTitle {
  margin: 2% 0%;
  padding: 2%;
  border-right: lightgray solid 1px;
  font-family: $headerFontFamily;
  font-size: 10vw;
  color: $headerColor;
}

#headerSlogan {
  margin: 0;
  padding: 5% 2%;
  font-family: $headerFontFamily;
  font-size: 2vw;
  color: $headerColor;
}

#galleryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featureContent {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: lightgray solid 1px;
  width: 95%;
}

.featureLink {
  display: flex;
  justify-content: center;
}

.featurePhoto {
  height: auto;
  width: 75%;
}

#subGalleryContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.subGalleryContainers {
  position: relative;
  display: block;
  height: auto;
  width: 25%;
  padding: 2%;
}

#detailContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10px;
}

#primaryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  width: 75%;
}

#primaryEditContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  width: 100%;
}

#detailTitle {
  font-size: 4vw;
  font-style: italic;
}

.primaryPhoto {
  height: auto;
  width: 85%;
}

.modifyButtonBox {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 10px;
  align-items: center;
  width: 50%;
}

form {
  margin: 0px;
  display: flex;
  align-items: center;
}

#deleteForm {
  width: 50%;
  border: solid lightgray 1px;
  border-radius: 10%;
}

.modifySubBox {
  display: flex;
  justify-content: center;
  width: 50%;
}

#deleteForm:hover {
  background-color: darkred;
  color: white;
}

.modifySubBox:hover {
  background-color: darkgreen;
  color: white;
}

#deleteButton {
  width: 100%;
  border: none;
  margin: 0;
}

.modifyButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: inherit;
  border: solid lightgray 1px;
  margin-right: 10px;
  border-radius: 10%;
  font-size: 3vw;
  font-family: $modifyFontFamily;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.detailAttributeBox {
  margin: 5px 10px;
}

.detailAttributes {
  margin: 0;
  font-family: $standardFontFamily;
  font-size: 2.2vw;
}

#detailDescription {
  font-style: italic;
}

#subDetailTitle {
  font-family: $standardFontFamily;
  font-style: italic;
  font-size: 2.5vw;
}

.otherThumbnailBox {
  margin-bottom: 20px;
}

.titleLink {
  font-family: $userLinkFontFamily;
  font-size: 2.5vw;
  color: #0355b9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 90%;
}

.titleLink:hover {
  text-decoration: underline;
  color: cornflowerblue;
  cursor: pointer;
}

.userLink {
  margin-left: 2%;
  font-family: $userLinkFontFamily;
  font-size: 2.5vw;
  color: #0355b9;
}

.userLink:hover {
  text-decoration: underline;
  color: cornflowerblue;
  cursor: pointer;
}

#subDetailContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 75%;
  width: 25%;
}

.galleryPhotos {
  height: auto;
  width: 100%;
  margin: 6% 0 12% 0;
  padding: 0;
}

.galleryPhotoTitles {
  position: absolute;
  bottom: 0;
  text-shadow: 0 2px white;
  font-size: 2vw;
  font-weight: bold;
  color: $headerColor;
  overflow: hidden;
  display: block;
  height: 5vw;
  margin: 0 auto;
  font-size: 2vw;
  line-height: 1.4;
  width: 90%;
  text-decoration: none;
}

.galleryPhotoTitles:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 2vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #fbfbfb 50%);
}

.galleryLinks {
  height: auto;
  width: 100%;
}

.otherPhotos {
  width: 20vw;
  height: auto;
}

.submitForm {
  display: table;
  margin: 10px;
}

.formRow {
  display: table-row;
}

label {
  display: table-cell;
  font-family: $standardFontFamily;
  font-size: 2.5vw;
}

input {
  display: table-cell;
  margin-left: 10px;
  font-family: $standardFontFamily;
  font-size: 2.5vw;
  width: 25vw;
}

.editInput {
  width: 60vw;
}

.logText {
  font-size: 3vw;
  font-family: $standardFontFamily;
}

.logSubmit {
  margin-top: 10px;
  font-size: 2.5vw;
  font-family: $standardFontFamily;
  width: 15vw;
}

#submitModify {
  margin-top: 10px;
  background: none;
  color: inherit;
  border: solid lightgray 1px;
  border-radius: 10%;
  font-size: 3vw;
  font-family: $modifyFontFamily;
  padding: 0;
  cursor: pointer;
  width: 25vw;
}

#deleteModify {
  margin-left: 10px;
  background: none;
  color: inherit;
  border: solid lightgray 1px;
  border-radius: 10%;
  font-size: 3vw;
  font-family: $modifyFontFamily;
  padding: 0;
  cursor: pointer;
  width: 25vw;
}

#deleteModify:hover {
  background-color: darkred;
  color: white;
}

#submitModify:hover {
  background-color: darkgreen;
  color: white;
}

#displayEditTitle {
  font-size: 3vw;
  font-style: italic;
}
