<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {{> nav}}
  <h3>Please add a photo</h3>
  <form action="/gallery" method="POST">
    <div>
      <label>Title:</label>
      <input type="text" name="title" required />
    </div>
    <div>
      <label>Author:</label>
      <input type="text" name="author" required />
    </div>
    <div>
      <label>Link:</label>
      <input type="url" name="link" required />
    </div>
    <div>
      <label>Description:</label>
      <input type="text" name="description" required />
    </div>
    <div>
      <input type="submit" value="Add Photo" />
    </div>
  </form>
</body>


</html>