<div id="navBar">
  <span class="nav" id="nav1">
    <a href="/gallery" class="navLink">Gallery</a>
  </span>
  <span class="nav" id="nav2">
    <a href="/gallery/new" class="navLink">Post a Photo</a>
  </span>
  <span class="nav" id="nav3">
    <a href="/register" class="navLink">Register</a>
  </span>
  <span class="nav" id="nav4">
    <a href="/login" class="navLink">Log-in</a>
  </span>
  <span class="nav" id="nav5">
    <a href="/user/{{id}}" class="navLink">Profile</a>
  </span>
  <span class="nav" id="nav6">
    <a href="/logout" class="navLink">Log-out</a>
  </span>
</div>