<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{> scripts}}
  <title>Document</title>
</head>

<body>
  {{> nav}}
  {{> header}}

  <span class="detailAttributes">Already Signed up? Log in here! </span>
  <a href="/login" class="userLink">Log In</a>
  <br>
  <span class="detailAttributes">Not signed up yet? Register here! </span>
  <a href="/register" class="userLink">Register</a>

</body>

</html>