#navBar {
  display: flex;
  margin-bottom: 10px;
  justify-content: center; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%; }

.navLink {
  text-decoration: none; }

.nav:hover {
  background-color: lightblue;
  cursor: pointer; }

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: gray dotted 1px; }

#headerTitle {
  margin: 2% 0%;
  padding: 2%;
  border-right: gray dotted 1px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10vw;
  color: #7c777d; }

#headerSlogan {
  margin: 0;
  padding: 5% 2%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2vw;
  color: #7c777d; }

#Content {
  display: flex; }

.galleryFeature {
  display: flex;
  height: 400px;
  width: 400px; }

#subContent {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.galleryPhotos {
  height: 200px;
  width: 200px; }

.otherPhotos {
  height: 200px;
  width: 200px; }
