<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {{> scripts}}
  <title>Document</title>
</head>

<body>
  {{> nav}}
  {{> header}}
  <h3 class="logText">Sign up to make a profile and post your own photos!</h3>
  <form action="/register" method="POST" class="submitForm">
    <div class="formRow">
      <label>Username:</label>
      <input type="text" name="username" />
    </div>
    <div class="formRow">
      <label>Password:</label>
      <input type="password" name="password" />
    </div>
    <div>
      <button type="submit" value="Register" class="logSubmit">Register</button>
    </div>
  </form>
</body>

</html>