<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{> scripts}}
  <title>Document</title>
</head>

<body>
  {{> nav}}
  {{> header}}

  <p id="userList">User List:</p>
  {{#each users}}
  <div class="userContainers">
    <a href="/user/{{id}}" class="userLink">{{username}}</a>
  </div>
  {{/each}}
</body>

</html>